# Apple Health POC

[End to End ETL Pipeline](https://medium.com/@ericfflynn/a-cloud-based-etl-pipeline-apple-health-data-to-mysql-48391576ce8e)

[Health Auto Export Docs](https://github.com/Lybron/health-auto-export)

[Streamlit Visual Example](https://github.com/ericfflynn/health-app/blob/main/Home.py)

[Elasticsearch Visual Example](https://github.com/markwk/qs_ledger/tree/master/apple_health)

[Python Apple Health Package](https://github.com/fedecalendino/apple-health)

This PoC will outline collecting data from Apple Health and preprocessing it for visualization. The current process will handle processing the `export.xml` file from Apple Health (retrieved from IPhone). Once we can confirm that the data is extracted, transformed and loaded again properly we will move on to the next step. I want to do some analysis into the Apple Health Kit to see all of the potential XML tags that can be extracted. I want to build my own data pipeline to process the data.


1. Config

2. Extract data

3. Transform/Preprocess Data

4. Load data (as parquet)

5. Build weekly calendar workout

## 1. Config

In [1]:
ROOT_DIR = '../../data/workout/'
import datetime
import pandas as pd
from health import HealthData
from consts import *
import xmltodict
import pyarrow as pa
import re
from typing import List
import json
import os

pd.set_option('display.max_rows', 200)
pd.set_option('display.max_columns', 200)
pd.set_option('display.width', None)
pd.set_option('display.max_colwidth', None)

def _parse_float(value, default=None):
    if value is None:
        return default

    if value in HK_CONSTANTS:
        return HK_CONSTANTS[value]

    try:
        return float(value)
    except (ValueError, TypeError):
        return default


def _parse_date(value):
    if value is None:
        return None
    if type(value) == datetime.datetime:
        return pd.Timestamp(value)
    return pd.Timestamp(value)


def _clean_string(s):
    if isinstance(s, str):
        return re.sub("[\W_]+", '', s).upper().replace('Ã‚', '')
    else:
        return s


def _parse_source_id(source_name):
    source_id = _clean_string(source_name)
    return source_id


def _parse_device_string(device_string):
    # Split on commas
    components = device_string.split(',')

    # Initialize the dictionary to store key-value pairs
    device_info = {}

    # Initialize variables to hold the key and value
    current_key = None
    current_value = []

    # Process each component
    for component in components:
        # Split on colon to separate key and value
        if ':' in component:
            if current_key is not None:
                # Join the current value parts and store in the dictionary
                device_info[current_key.strip()] = '.'.join(current_value).strip()
            # Split into key and value parts
            key, value = component.split(':', 1)
            current_key = key.replace('&lt;', '').replace('>', '').replace('<', '')
            current_value = [value]
        else:
            # Append the current component to the value list
            current_value.append(component)

    # Store the last key-value pair
    if current_key is not None:
        device_info[current_key.strip()] = ':'.join(current_value).strip()

    return device_info

def get_dataframe(path: str, columns: List = None):
    """
    Read a DataFrame from a parquet file.

    Args:
        path (str): Path to the parquet file.
        columns (List): List of columns to select (default is None).

    Returns:
        pd.DataFrame: Read DataFrame.
    """
    try:
        return pd.read_parquet(path, engine='pyarrow', dtype_backend='numpy_nullable', columns=columns)
    except Exception as e:
        print(e)
        return pd.DataFrame()

def put_dataframe(df: pd.DataFrame, path: str):
    """
    Write a DataFrame to a parquet file.

    Args:
        df (pd.DataFrame): DataFrame to write.
        path (str): Path to the parquet file.
        schema (dict): Schema dictionary.

    Returns:
        None
    """
    key, file_name = path.rsplit('/', 1)
    if file_name.split('.')[1] != 'parquet':
        raise Exception("Invalid Filetype for Storage (Supported: 'parquet')")
    os.makedirs(key, exist_ok=True)
    df.to_parquet(f"{key}/{file_name}",engine='pyarrow', schema=pa.Schema.from_pandas(df))

def put_json(obj, path: str):
    with open(path, 'w') as f:
        json.dump(obj, f, indent=4, default=str)
    f.close()

TYPE = "@type"
SOURCE_NAME = "@sourceName"
SOURCE_VERSION = "@sourceVersion"
DEVICE = "@device"
CREATION_DATE = "@creationDate"
START_DATE = "@startDate"
END_DATE = "@endDate"
DATE = '@date'
UNIT = "@unit"
BPM = "@bpm"
TIME = "@time"

KEY = "@key"
VALUE = "@value"
MIN='@minimum'
MAX='@maximum'
AVG='@average'
SUM='@sum'

## 2. Extract data

**Record**


**Activity Summary**


**Workout**


**Config**

In [21]:
from enum import Enum, IntEnum

class AppleStandHour(IntEnum):
    HKCategoryValueAppleStandHourStood = 0
    HKCategoryValueAppleStandHourIdle = 1
    
    def __str__(self) -> str:
        return self.name

print(AppleStandHour.HKCategoryValueAppleStandHourStood.value)

0

In [2]:
file = ROOT_DIR + 'export.xml'

class HealthKitData:
    '''
    XML HealthKit data. All data is sorted by date low-to-high
    '''

    def __init__(self, file):
        if type(file) == dict:
            self.data = file
        else:
            self.file = file
            self.config = {}
            self.data = None
            print('Reading export file...')
            with open(file) as file:
                xml = xmltodict.parse(file.read())
                self.data = xml["HealthData"]
        print('Processing Data...')
        self.config = self._get_config()
        self.activity_summaries = self._get_activity_summaries()
        self.workouts = self._get_workouts()
        self.records = self._get_records()

    def set_sources(self, sources):
        self.config['sources'] = sources

    def save(self, save_path):
        data = {
            'activity_summaries.json': self.activity_summaries,
            'config.json': self.config,
            'workouts.parquet': self.workouts,
            'records.parquet': self.records,

        }
        for key, obj in data.items():
            print(f"Saving: {key}")
            if '.json' in key:
                put_json(obj, path=f'{save_path}{key}')
            elif key == 'workouts.parquet':
                df = pd.DataFrame(obj)
                df['last_updated'] = datetime.datetime.now()
                put_dataframe(df, path=f'{save_path}{key}')
            elif key == 'records.parquet':
                df = pd.DataFrame(obj)
                df['last_updated'] = datetime.datetime.now()
                put_dataframe(df, path=f'{save_path}{key}')
            else:
                raise Exception(f'Invalid Key: {key} to save')




    def _get_records(self):
        """
        Parse Records from Payload and update config sources with record device sources
        Return a dict
        """
        sources = {}

        records = self.data['Record']#self.data.pop('Record', [])
        out = []
        for r in records:
            rec = Record(**r)
            sources.update(self._parse_source(r))
            out.append(rec.__dict__)

        self.set_sources(sources)
        return out

    def _parse_source(self, data):
        """
        Parse Sources from Payload
        Return a dict
        """
        source_name = data.get(SOURCE_NAME)

        source_type = "UNKNOWN"
        if 'WATCH' in source_name.upper():
            source_type = 'WATCH'
        elif 'RENPHO' in source_name.upper():
            source_type = 'SCALE'
        elif 'PHONE' in source_name.upper():
            source_type = 'PHONE'
        elif 'MYFITNESSPAL' in source_name.upper():
            source_type = 'APP'
        elif 'HEALTH' in source_name.upper():
            source_type = 'APP'  # manually entered value into health app
        elif 'STRONG' in source_name.upper():
            source_type = 'APP'
        elif 'SLEEP' in source_name.upper():
            source_type = 'APP'

        source_version = data.get(SOURCE_VERSION, None)
        source_id = _parse_source_id(source_name)
        device = data.get(DEVICE, None)
        source = {
            "source_name": source_name,
            "source_version": source_version,
            "source_type": source_type,
        }
        if device is not None:
            source = {
                **source,
                **_parse_device_string(device)
            }

        return {source_id: source}

    def _get_config(self):
        """
        Parse Config from Payload from Me, ExportDate and Unique Devices found in Records
        Return a dict
        """
        me = self.data['Me']#self.data.pop('Me', {})
        export_date = self.data['ExportDate']#self.data.pop('ExportDate', {})
        dob = _parse_date(me.get(HK_ME_DATE_OF_BIRTH))

        return {
            'date_of_birth': dob,
            'age': (datetime.datetime.now() - dob.to_pydatetime()).days // 365, # For comparison convert both to datetime.datetime to get datetime.timedelta
            'biological_sex': me.get(HK_ME_BIOLOGICAL_SEX),
            'blood_type': me.get(HK_ME_BLOOD_TYPE),
            'skin_type': me.get(HK_ME_SKIN_TYPE),
            'wheelchair_use': me.get(HK_ME_WHEELCHAIR_USE),
            'sources': {},
            'last_updated': pd.Timestamp(export_date['@value']),
        }

    def _get_activity_summaries(self):
        """
        Parse ActivitySummaries from Payload
        Return a dict of {date: {key: value}}
        """
        activity_summaries = self.data['ActivitySummary']  # self.data.pop('ActivitySummary', [])

        parsed = {}
        for activity_summary in activity_summaries:
            date = activity_summary.get(DATE_COMPONENTS)
            parsed[date] = {
                'active_energy_burned': _parse_float(activity_summary.get(ACTIVE_ENERGY_BURNED, None)),
                'active_energy_burned_goal': _parse_float(activity_summary.get(ACTIVE_ENERGY_BURNED_GOAL, None)),
                'active_energy_burned_unit': activity_summary.get(ACTIVE_ENERGY_BURNED_UNIT, "Cal"),
                'exercise_time': _parse_float(activity_summary.get(APPLE_EXERCISE_TIME, None)),
                'exercise_time_goal': _parse_float(activity_summary.get(APPLE_EXERCISE_TIME_GOAL, None)),
                'stand_hours': _parse_float(activity_summary.get(APPLE_STAND_HOURS, None)),
                'stand_hours_goal': _parse_float(activity_summary.get(APPLE_STAND_HOURS_GOAL, None)),
            }
        return parsed

    def _get_workouts(self):
        workouts = self.data['Workout']#self.data.pop('Workout', [])
        return [Workout(**w).__dict__ for w in workouts]


class Record:
    NAME_KEY = TYPE

    def __init__(self, **data):
        """
        Parse a Record from the Payload, handle metadata creation and source_id
        """
        self.name: str = data[self.NAME_KEY]
        self.source_id = _parse_source_id(data.get(SOURCE_NAME))
        self.created_at: pd.Timestamp = _parse_date(data.get(CREATION_DATE, None))
        self.start: pd.Timestamp = _parse_date(data.get(START_DATE))
        self.start_date_str: str = self.start.strftime("%Y-%m-%d")
        self.end: pd.Timestamp = _parse_date(data.get(END_DATE))
        self.unit: str = data.get(UNIT, None)
        self.value: float = _parse_float(data.get(VALUE, None))
        self.heartrate_variability = []

        metadata = data.get("MetadataEntry", None)
        if metadata is None:
            self.metadata = []
        elif isinstance(metadata, dict):
            self.metadata = [self._parse_metadata(metadata)]
        elif isinstance(metadata, list):
            self.metadata = list(map(lambda m: self._parse_metadata(m), metadata))

        heartrate_variability = data.get("HeartRateVariabilityMetadataList", None)
        if heartrate_variability is not None:
            heartrate_variability = heartrate_variability.get("InstantaneousBeatsPerMinute", None)
            self.heartrate_variability = list(map(lambda m: self._parse_heartrate_variability(m), heartrate_variability))

    def _parse_metadata(self, data):
        return {'key': data.get(KEY), 'value': data.get(VALUE)}

    def _parse_heartrate_variability(self, data):
        return {'bpm': data.get(BPM), 'time': _parse_date(data.get(TIME))}


class Workout(Record):
    NAME_KEY = WORKOUT_ACTIVITY_TYPE

    def __init__(self, **data):
        super().__init__(**data)
        self.duration: float = _parse_float(data.get(DURATION))
        self.duration_unit: str = data.get(DURATION_UNIT)

        self.distance: float = _parse_float(data.get(TOTAL_DISTANCE, None))
        self.distance_unit: str = data.get(TOTAL_DISTANCE_UNIT, 'mi')

        self.energy_burned: float = _parse_float(data.get(TOTAL_ENERGY_BURNED, None))
        self.energy_burned_unit: str = data.get(TOTAL_ENERGY_BURNED_UNIT, 'Cal')

        self.flights_climbed: float = _parse_float(data.get(TOTAL_FLIGHTS_CLIMBED))
        self.swimming_strokes: float = _parse_float(data.get(TOTAL_SWIMMING_STROKE_COUNT))
        self.events = []
        self.statistics = []
        self.route = None

        workout_events = data.get("WorkoutEvent", None)
        if workout_events is not None:
            if isinstance(workout_events, dict):
                self.events = [self._parse_workout_event(workout_events)]
            else:
                self.events = list(map(lambda m: self._parse_workout_event(m), workout_events))

        workout_statistics = data.get("WorkoutStatistics", None)
        if workout_statistics is not None:
            if isinstance(workout_statistics, dict):
                self.statistics = [self._parse_workout_statistic(workout_statistics)]
            else:
                self.statistics = list(map(lambda m: self._parse_workout_statistic(m), workout_statistics))

        workout_route = data.get("WorkoutRoute", None)
        if workout_route is not None:
            self.route = self._parse_workout_route(workout_route)

        if self.distance is None or self.distance_unit is None:
            statistic = self.get_statistic(HK_RECORD_DISTANCE_WALKING_RUNNING)
            if statistic is not None:
                self.distance = statistic['sum'] if statistic['sum'] is not None else None
                self.distance_unit = statistic['unit'] if statistic['unit'] is not None else 'mi'

        if self.energy_burned is None or self.energy_burned_unit is None:
            statistic = self.get_statistic(HK_RECORD_ACTIVE_ENERGY_BURNED)
            if statistic is not None:
                self.energy_burned = statistic['sum'] if statistic['sum'] is not None else None
                self.energy_burned_unit = statistic['unit'] if statistic['unit'] is not None else 'Cal'

    def get_statistic(self, statistic_type):
        for s in self.statistics:
            if s['name'] == statistic_type:
                return s
        return None

    def get_event(self, event_type):
        for s in self.events:
            if s['name'] == event_type:
                return s
        return None

    def _parse_workout_event(self, data):
        return {
            'name': data.get(TYPE),
            'date': _parse_date(data.get(DATE)),
            'duration': _parse_float(data.get(DURATION)),
            'duration_unit': data.get(DURATION_UNIT),
        }

    def _parse_workout_statistic(self, data):
        statistic_type = "SUM" if data.get(SUM, None) is not None else "AVG"
        return {
            'name': data.get(TYPE),
            'type': statistic_type,
            'start_date': _parse_date(data.get(START_DATE, None)),
            'end_date': _parse_date(data.get(END_DATE, None)),
            'sum': _parse_float(data.get(SUM, None)),
            'average': _parse_float(data.get(AVG, None)),
            'min': _parse_float(data.get(MIN, None)),
            'max': _parse_float(data.get(MAX, None)),
            'unit': _parse_float(data.get(UNIT, None)),
        }

    def _parse_workout_route(self, data):
        file_reference = data.get("FileReference", None)
        file_path = file_reference.get("@path", None)
        metadata = data.get("MetadataEntry", None)
        if metadata is None:
            metadata = []
        elif isinstance(metadata, dict):
            metadata = [self._parse_metadata(metadata)]
        elif isinstance(metadata, list):
            metadata = list(map(lambda m: self._parse_metadata(m), metadata))

        return {
            'file_path': file_path,
            'file_name': file_path.split("/")[-1],
            'metadata': metadata,
        }
        
save_path = f"{ROOT_DIR}processed/"
if not os.path.exists(save_path):
    os.makedirs(save_path)

#hkd = HealthKitData(file)
#hkd.save(save_path)
#hkd.workouts[-6]

In [31]:
df = pd.read_parquet(save_path + 'records.parquet')

In [32]:
sleep = [
    HK_RECORD_SLEEP_ANALYSIS,
    HK_RECORD_SLEEP_ANALYSIS_ASLEEP,
    HK_RECORD_SLEEP_ANALYSIS_AWAKE,
    HK_RECORD_SLEEP_ANALYSIS_IN_BED,
    HK_RECORD_SLEEP_DURATION_GOAL,
    "HKCategoryTypeIdentifierSleepAnalysisAsleepCore",
    "HKCategoryTypeIdentifierSleepAnalysisAsleepDeep",
    "HKCategoryTypeIdentifierSleepAnalysisAsleepREM"
]

scale = [
    HK_RECORD_BODY_MASS_INDEX,
    HK_RECORD_HEIGHT,
    HK_RECORD_BODY_MASS,
    HK_RECORD_BODY_FAT_PERCENTAGE,
    HK_RECORD_LEAN_BODY_MASS,
]

general = [
    HK_RECORD_MINDFUL_SESSION,
    HK_RECORD_AUDIO_EXPOSURE_EVENT,
    HK_RECORD_HEADPHONE_AUDIO_EXPOSURE,
    HK_RECORD_ENVIRONMENTAL_AUDIO_EXPOSURE,
    HK_RECORD_AUDIO_EXPOSURE_EVENT_LOUD_ENVIRONMENT,
    HK_RECORD_INHALER_USAGE,
    HK_RECORD_INSULIN_DELIVERY,
    HK_RECORD_NUMBER_OF_TIMES_FALLEN,
    HK_RECORD_NOT_APPLICABLE,
    HK_RECORD_TOOTHBRUSHING_EVENT,
    HK_RECORD_HANDWASHING_EVENT,
    HK_RECORD_ELECTRODERMAL_ACTIVITY,
]

reproductive = [
    HK_RECORD_CERVICAL_MUCUS_QUALITY_CREAMY,
    HK_RECORD_CERVICAL_MUCUS_QUALITY_DRY,
    HK_RECORD_CERVICAL_MUCUS_QUALITY_EGG_WHITE,
    HK_RECORD_CERVICAL_MUCUS_QUALITY_STICKY,
    HK_RECORD_CERVICAL_MUCUS_QUALITY_WATERY,
    HK_RECORD_OVULATION_TEST_RESULT_ESTROGEN_SURGE,
    HK_RECORD_OVULATION_TEST_RESULT_INDETERMINATE,
    HK_RECORD_OVULATION_TEST_RESULT_LUTEINIZING_HORMONE_SURGE,
    HK_RECORD_OVULATION_TEST_RESULT_NEGATIVE
]

exercise = [
    HK_RECORD_HEART_RATE,
    HK_RECORD_RESPIRATORY_RATE,
    HK_RECORD_STEP_COUNT,
    HK_RECORD_DISTANCE_WALKING_RUNNING,
    HK_RECORD_BASAL_ENERGY_BURNED,
    HK_RECORD_ACTIVE_ENERGY_BURNED,
    HK_RECORD_FLIGHTS_CLIMBED,
    HK_RECORD_APPLE_EXERCISE_TIME,
    HK_RECORD_DISTANCE_CYCLING,
    HK_RECORD_RESTING_HEART_RATE,
    HK_RECORD_V_O2_MAX,
    HK_RECORD_WALKING_HEART_RATE_AVERAGE,
    HK_RECORD_WALKING_DOUBLE_SUPPORT_PERCENTAGE,
    HK_RECORD_SIX_MINUTE_WALK_TEST_DISTANCE,
    HK_RECORD_APPLE_STAND_TIME,
    HK_RECORD_WALKING_SPEED,
    HK_RECORD_WALKING_STEP_LENGTH,
    HK_RECORD_WALKING_ASYMMETRY_PERCENTAGE,
    HK_RECORD_STAIR_ASCENT_SPEED,
    HK_RECORD_STAIR_DESCENT_SPEED,
    HK_RECORD_APPLE_WALKING_STEADINESS,
    HK_RECORD_RUNNING_STRIDE_LENGTH,
    HK_RECORD_RUNNING_VERTICAL_OSCILLATION,
    HK_RECORD_RUNNING_GROUND_CONTACT_TIME,
    HK_RECORD_RUNNING_HEART_RATE_RECOVERY_ONE_MINUTE,
    HK_RECORD_RUNNING_POWER,
    HK_RECORD_RUNNING_SPEED,
    HK_RECORD_APPLE_STAND_HOUR,
    HK_RECORD_HEART_RATE_VARIABILITY_S_D_N_N
]

[i for i in df.name.unique() if 'Dietary' not in i and i not in sleep and i not in scale and i not in general and i not in reproductive and i not in exercise]

[]

In [38]:
sleep_df = df[df.name.isin(sleep)].copy()

In [39]:

sleep_df.value.value_counts()

value
3.0    4624
0.0    2324
5.0    1863
2.0    1607
4.0    1305
8.0       1
Name: count, dtype: int64

In [46]:
sleep_df['duration'] = (sleep_df['end'] - sleep_df['start']).dt.seconds
sleep_df['unit'] = 'seconds'
a = sleep_df[sleep_df['start_date_str'] == '2023-05-27'].groupby('value')['duration'].sum().reset_index()
a['duration'] = a['duration'] / 3600
a

   value  duration
0    2.0  0.741667
1    3.0  5.550000
2    4.0  0.575000
3    5.0  1.591667

In [47]:
b = sleep_df[sleep_df['start_date_str'] == '2023-05-28'].groupby('value')['duration'].sum().reset_index()
b['duration'] = b['duration'] / 3600
b

   value  duration
0    0.0  6.655833
1    2.0  0.491667
2    3.0  4.233333
3    4.0  0.741667
4    5.0  1.491667

In [53]:
# Define meal split records and daily total records
meal_split_records = [
    HK_RECORD_DIETARY_CARBOHYDRATES,
    HK_RECORD_DIETARY_CHOLESTEROL,
    HK_RECORD_DIETARY_ENERGY_CONSUMED,
    HK_RECORD_DIETARY_FAT_MONOUNSATURATED,
    HK_RECORD_DIETARY_FAT_POLYUNSATURATED,
    HK_RECORD_DIETARY_FAT_SATURATED,
    HK_RECORD_DIETARY_FAT_TOTAL,
    HK_RECORD_DIETARY_FIBER,
    HK_RECORD_DIETARY_PROTEIN,
    HK_RECORD_DIETARY_SODIUM,
    HK_RECORD_DIETARY_WATER,
]

daily_total_records = [
    HK_RECORD_DIETARY_BIOTIN,
    HK_RECORD_DIETARY_CAFFEINE,
    HK_RECORD_DIETARY_CALCIUM,
    HK_RECORD_DIETARY_CHLORIDE,
    HK_RECORD_DIETARY_CHROMIUM,
    HK_RECORD_DIETARY_COPPER,
    HK_RECORD_DIETARY_FOLATE,
    HK_RECORD_DIETARY_IODINE,
    HK_RECORD_DIETARY_IRON,
    HK_RECORD_DIETARY_MAGNESIUM,
    HK_RECORD_DIETARY_MANGANESE,
    HK_RECORD_DIETARY_MOLYBDENUM,
    HK_RECORD_DIETARY_NIACIN,
    HK_RECORD_DIETARY_PANTOTHENIC_ACID,
    HK_RECORD_DIETARY_PHOSPHORUS,
    HK_RECORD_DIETARY_POTASSIUM,
    HK_RECORD_DIETARY_RIBOFLAVIN,
    HK_RECORD_DIETARY_SELENIUM,
    HK_RECORD_DIETARY_SUGAR,
    HK_RECORD_DIETARY_THIAMIN,
    HK_RECORD_DIETARY_VITAMIN_A,
    HK_RECORD_DIETARY_VITAMIN_B12,
    HK_RECORD_DIETARY_VITAMIN_B6,
    HK_RECORD_DIETARY_VITAMIN_C,
    HK_RECORD_DIETARY_VITAMIN_D,
    HK_RECORD_DIETARY_VITAMIN_E,
    HK_RECORD_DIETARY_VITAMIN_K,
    HK_RECORD_DIETARY_ZINC,
]

# Generate the dictionary structure for a given day
def generate_daily_nutrition_view(date_str):
    daily_nutrition_view = {
        "date": date_str
    }
    
    # Add meal split records
    for record in meal_split_records:
        record_key = record.split("HKQuantityTypeIdentifierDietary")[1].lower()
        daily_nutrition_view[f"breakfast_{record_key}"] = 0.0
        daily_nutrition_view[f"lunch_{record_key}"] = 0.0
        daily_nutrition_view[f"dinner_{record_key}"] = 0.0
        daily_nutrition_view[f"snacks_{record_key}"] = 0.0
        daily_nutrition_view[f"total_{record_key}"] = 0.0
    
    # Add daily total records
    for record in daily_total_records:
        record_key = record.split("HKQuantityTypeIdentifierDietary")[1].lower()
        daily_nutrition_view[f"total_{record_key}"] = 0.0
    
    return daily_nutrition_view

# Update the daily nutrition view with a record
def update_daily_nutrition_view(daily_nutrition_view, record):
    record_type = record['name']
    record_key = record_type.split("HKQuantityTypeIdentifierDietary")[1].lower()
    value = record['value']
    
    # Check if the record is a meal split record
    if record_type in meal_split_records:
        meal_type = next((item['value'].lower() for item in record['metadata'] if item['key'].lower() == 'meal'), None)
        if meal_type:
            daily_nutrition_view[f"{meal_type}_{record_key}"] += value
            daily_nutrition_view[f"total_{record_key}"] += value
    elif record_type in daily_total_records:
        daily_nutrition_view[f"total_{record_key}"] += value

# Example records
records = hkd.records

# Dictionary to store daily nutrition views
daily_nutrition_views = {}

# Iterate through the records and update the daily nutrition views
for record in records:
    if 'dietary' not in record['name'].lower():
        continue
    date_str = record['start_date_str']
    if date_str not in daily_nutrition_views:
        daily_nutrition_views[date_str] = generate_daily_nutrition_view(date_str)
    update_daily_nutrition_view(daily_nutrition_views[date_str], record)

# Print the updated daily nutrition views

In [60]:
a = []
import numpy as np
for k, v in daily_nutrition_views.items():
    a.append(v)

nutrition_df = pd.DataFrame(a)
nutrition_df = nutrition_df.replace(0, np.nan)

nutrition_df

,date,breakfast_carbohydrates,lunch_carbohydrates,dinner_carbohydrates,snacks_carbohydrates,total_carbohydrates,breakfast_cholesterol,lunch_cholesterol,dinner_cholesterol,snacks_cholesterol,total_cholesterol,breakfast_energyconsumed,lunch_energyconsumed,dinner_energyconsumed,snacks_energyconsumed,total_energyconsumed,breakfast_fatmonounsaturated,lunch_fatmonounsaturated,dinner_fatmonounsaturated,snacks_fatmonounsaturated,total_fatmonounsaturated,breakfast_fatpolyunsaturated,lunch_fatpolyunsaturated,dinner_fatpolyunsaturated,snacks_fatpolyunsaturated,total_fatpolyunsaturated,breakfast_fatsaturated,lunch_fatsaturated,dinner_fatsaturated,snacks_fatsaturated,total_fatsaturated,breakfast_fattotal,lunch_fattotal,dinner_fattotal,snacks_fattotal,total_fattotal,breakfast_fiber,lunch_fiber,dinner_fiber,snacks_fiber,total_fiber,breakfast_protein,lunch_protein,dinner_protein,snacks_protein,total_protein,breakfast_sodium,lunch_sodium,dinner_sodium,snacks_sodium,total_sodium,breakfast_water,lunch_water,dinner_water,snacks_water,total_water,total_biotin,total_caffeine,total_calcium,total_chloride,total_chromium,total_copper,total_folate,total_iodine,total_iron,total_magnesium,total_manganese,total_molybdenum,total_niacin,total_pantothenicacid,total_phosphorus,total_potassium,total_riboflavin,total_selenium,total_sugar,total_thiamin,total_vitamina,total_vitaminb12,total_vitaminb6,total_vitaminc,total_vitamind,total_vitamine,total_vitamink,total_zinc
0,2023-05-14,26.9512,81.0000,131.9540,NaN,239.9052,NaN,NaN,264.0000,NaN,264.0000,105.02,574.000,1371.010,NaN,2050.030,0.03776,NaN,3.29068,NaN,3.32844,0.08614,NaN,2.91766,NaN,3.00380,0.13216,10.50000,18.25190,NaN,28.88406,0.3894,24.0000,39.55180,NaN,63.94120,3.0680,7.0000,10.24640,NaN,20.31440,1.2862,9.0000,138.9670,NaN,149.2532,1.18,181.500,1908.210,NaN,2090.890,NaN,NaN,NaN,NaN,NaN,NaN,NaN,475.160,NaN,NaN,NaN,NaN,NaN,5.170259,NaN,NaN,NaN,NaN,NaN,NaN,2391.870,NaN,NaN,108.26080,NaN,NaN,NaN,NaN,88.762200,NaN,NaN,NaN,NaN
1,2023-05-15,112.4060,NaN,NaN,15.4000,127.8060,352.8,NaN,NaN,NaN,352.8000,1525.82,NaN,150.000,585.800,2261.620,17.59380,NaN,NaN,NaN,17.59380,3.84324,NaN,NaN,NaN,3.84324,20.03240,NaN,NaN,3.6000,23.63240,57.4794,NaN,NaN,5.4000,62.87940,14.4305,NaN,NaN,2.20000,16.63050,109.2220,NaN,NaN,1.4000,110.6220,884.33,NaN,NaN,6.80,891.130,NaN,NaN,NaN,NaN,NaN,NaN,NaN,240.000,NaN,NaN,NaN,NaN,NaN,8.853800,NaN,NaN,NaN,NaN,NaN,NaN,3041.840,NaN,NaN,30.52140,NaN,NaN,NaN,NaN,85.806000,NaN,NaN,NaN,NaN
2,2023-05-16,NaN,19.2816,90.0000,NaN,109.2816,NaN,183.900,NaN,NaN,183.9000,300.00,787.829,1090.000,NaN,2177.829,NaN,23.12950,NaN,NaN,23.12950,NaN,6.33140,NaN,NaN,6.33140,NaN,20.63910,6.50000,NaN,27.13910,NaN,63.7093,62.00000,NaN,125.70930,NaN,6.6916,NaN,NaN,6.69160,NaN,46.3646,43.0000,NaN,89.3646,NaN,302.067,2830.000,NaN,3132.067,NaN,NaN,NaN,NaN,NaN,NaN,NaN,93.200,NaN,NaN,NaN,NaN,NaN,5.137500,NaN,NaN,NaN,NaN,NaN,NaN,1067.000,NaN,NaN,1.53180,NaN,NaN,NaN,NaN,22.500000,NaN,NaN,NaN,NaN
3,2023-05-13,26.9512,NaN,NaN,NaN,26.9512,NaN,NaN,NaN,NaN,NaN,105.02,NaN,NaN,NaN,105.020,0.03776,NaN,NaN,NaN,0.03776,0.08614,NaN,NaN,NaN,0.08614,0.13216,NaN,NaN,NaN,0.13216,0.3894,NaN,NaN,NaN,0.38940,3.0680,NaN,NaN,NaN,3.06800,1.2862,NaN,NaN,NaN,1.2862,1.18,NaN,NaN,NaN,1.180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.900,NaN,NaN,NaN,NaN,NaN,0.306799,NaN,NaN,NaN,NaN,NaN,NaN,422.440,NaN,NaN,14.43140,NaN,NaN,NaN,NaN,10.266000,NaN,NaN,NaN,NaN
4,2023-05-17,NaN,12.3975,56.6680,112.0000,181.0655,NaN,180.300,28.0000,320.80,529.1000,NaN,521.800,376.670,1146.800,2045.270,NaN,10.49020,NaN,3.14100,13.63120,NaN,3.84960,NaN,2.48760,6.33720,NaN,4.16970,1.50000,16.0752,21.74490,NaN,26.3050,13.33340,32.5600,72.19840,NaN,6.0250,8.33345,NaN,14.35845,NaN,56.8160,25.5335,83.3160,165.6655,NaN,765.650,743.335,735.40,2244.385,NaN,NaN,NaN,NaN,NaN,NaN,NaN,484.200,NaN,NaN,NaN,NaN,NaN,8.416520,NaN,NaN,NaN,NaN,NaN,NaN,2247.620,NaN,NaN,123.99500,NaN,NaN,NaN,NaN,22.500000,NaN,NaN,NaN,NaN
5,2023-05-18,NaN,83.0000,NaN,NaN,83.0000,NaN,NaN,NaN,NaN,NaN,NaN,520.000,NaN,NaN,520.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.00000,NaN,NaN,10.00000,NaN,19.0000,NaN,NaN,19.00000,NaN,5.0000,NaN,NaN,5.00000,NaN,7.0000,NaN,NaN,7.0000,NaN,50.000,NaN,NaN,50.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,43.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,2023-05-19,NaN,NaN,106.0000,118.0000,224.0000,NaN,NaN,60.0000,18.00,78.0000,130.00,460.000,960.000,995.000,2545.000,NaN,NaN,NaN,6.00000,6.00000,NaN,NaN,NaN,12.00000,12.00000,NaN,NaN,16.00000,6.2000,22.20000,NaN,NaN,38.00000,25.0000,63.00000,NaN,NaN,8.00000,3.00000,11.00000,NaN,NaN,52.0000,14.0000,66.0000,NaN,NaN,2260.000,736.00,2996.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1180.000,NaN,NaN,NaN,NaN,NaN,9.900000,NaN,NaN,NaN,NaN,NaN,NaN,248.000,NaN,NaN,22.00000,NaN,NaN,NaN,NaN,19.800000,NaN,NaN,NaN,NaN
7,2023-05-20,NaN,19.0000,42.5200,44.0000,105.5200,NaN,NaN,127.2000,35.00,162.2000,NaN,900.000,581.200,520.000,2001.200,NaN,0.50000,2.09400,NaN,2.59400,NaN,0.50000,1.65840,NaN,2.15840,NaN,NaN,1.21680,8.0000,9.21680,NaN,1.0000,22.56000,13.0000,36.56000,NaN,0.5000,2.40000,4.00000,6.90000,NaN,3.0000,47.9640,58.0000,108.9640,NaN,90.000,633.600,300.00,1023.600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,618.400,NaN,NaN,NaN,NaN,NaN,3.588000,NaN,NaN,NaN,NaN,NaN,NaN,1172.400,NaN,NaN,40.24000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,2023-05-21,NaN,NaN,41.7600,NaN,41.7600,NaN,NaN,121.2000,NaN,121.2000,110.00,420.000,501.200,100.000,1131.200,NaN,NaN,2.09400,NaN,2.09400,NaN,NaN,1.65840,NaN,1.65840,NaN,NaN,1.21680,NaN,1.21680,NaN,NaN,15.05000,NaN,15.05000,NaN,NaN,2.20000,NaN,2.20000,NaN,NaN,45.2540,NaN,45.2540,NaN,NaN,528.600,NaN,528.600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.400,NaN,NaN,NaN,NaN,NaN,2.328000,NaN,NaN,NaN,NaN,NaN,NaN,452.400,NaN,NaN,2.12000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,2023-05-22,NaN,NaN,38.1508,NaN,38.1508,NaN,NaN,NaN,NaN,NaN,460.00,410.000,954.163,600.000,2424.163,NaN,NaN,0.00500,NaN,0.00500,NaN,NaN,0.05650,NaN,0.05650,NaN,NaN,0.02500,NaN,0.02500,NaN,NaN,32.51000,NaN,32.51000,NaN,NaN,4.01660,NaN,4.01660,NaN,NaN,92.8149,NaN,92.8149,NaN,NaN,3.000,NaN,3.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,45.166,NaN,NaN,NaN,NaN,NaN,1.954960,NaN,NaN,NaN,NaN,NaN,NaN,932.146,NaN,NaN,2.96330,NaN,NaN,NaN,NaN,7.699950,NaN,NaN,NaN,NaN
10,2023-05-23,NaN,NaN,11.1000,NaN,11.1000,NaN,NaN,15.0000,NaN,15.0000,NaN,380.000,952.600,NaN,1332.600,NaN,NaN,6.26760,NaN,6.26760,NaN,NaN,4.23820,NaN,4.23820,NaN,NaN,3.58240,NaN,3.58240,NaN,NaN,14.86000,NaN,14.86000,NaN,NaN,0.96000,NaN,0.96000,NaN,NaN,6.1580,NaN,6.1580,NaN,NaN,404.600,NaN,404.600,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.400,NaN,NaN,NaN,NaN,NaN,0.744001,NaN,NaN,NaN,NaN,NaN,NaN,320.600,NaN,NaN,1.75000,NaN,NaN,NaN,NaN,5.820010,NaN,NaN,NaN,NaN
11,2023-05-24,NaN,NaN,69.4116,NaN,69.4116,NaN,NaN,116.9420,NaN,116.9420,NaN,NaN,552.427,890.000,1442.427,NaN,NaN,0.02666,NaN,0.02666,NaN,NaN,0.19230,NaN,0.19230,NaN,NaN,2.29561,NaN,2.29561,NaN,NaN,6.60197,NaN,6.60197,NaN,NaN,6.06200,NaN,6.06200,NaN,NaN,55.6281,NaN,55.6281,NaN,NaN,451.002,NaN,451.002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,36.460,NaN,NaN,NaN,NaN,NaN,0.844201,NaN,NaN,NaN,NaN,NaN,NaN,2364.260,NaN,NaN,14.13180,NaN,NaN,NaN,NaN,36.478000,NaN,NaN,NaN,NaN
12,2023-05-25,31.9512,33.5150,74.0000,NaN,139.4662,25.0,372.000,21.0000,NaN,418.0000,275.02,483.000,555.000,1160.000,2473.020,0.03776,18.35650,NaN,NaN,18.39426,0.08614,5.13500,NaN,NaN,5.22114,1.13216,6.51500,0.80000,NaN,8.44716,3.3894,32.5000,8.00000,NaN,43.88940,6.0680,11.0500,4.00000,NaN,21.11800,31.2862,19.5600,8.9000,NaN,59.7462,361.18,287.500,1430.000,NaN,2078.680,NaN,NaN,NaN,NaN,NaN,NaN,NaN,671.900,NaN,NaN,NaN,NaN,NaN,12.061800,NaN,NaN,NaN,NaN,NaN,NaN,2082.940,NaN,NaN,45.79140,NaN,NaN,NaN,NaN,40.266000,NaN,NaN,NaN,NaN
13,2023-05-26,26.9512,18.0000,72.4000,31.3349,148.6861,NaN,434.000,300.0000,NaN,734.0000,105.02,568.000,996.600,333.350,2002.970,0.03776,NaN,15.56760,NaN,15.60536,0.08614,NaN,6.03820,NaN,6.12434,0.13216,NaN,15.68240,12.6673,28.48186,0.3894,50.0000,58.96000,20.6677,130.01710,3.0680,6.0000,2.96000,0.66670,12.69470,1.2862,16.0000,74.0580,4.6669,96.0111,1.18,378.000,1677.600,NaN,2056.780,NaN,NaN,NaN,NaN,NaN,NaN,NaN,267.970,NaN,NaN,NaN,NaN,NaN,13.710811,NaN,NaN,NaN,NaN,NaN,NaN,1335.040,NaN,NaN,45.18260,NaN,NaN,NaN,NaN,19.086010,NaN,NaN,NaN,NaN
14,2023-05-27,75.0000,28.0000,40.6600,21.0000,164.6600,85.0,45.000,219.0000,20.00,369.0000,710.00,250.000,1134.000,135.000,2229.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.00000,3.00000,11.66000,1.1000,32.76000,34.0000,8.0000,23.00000,4.5000,69.50000,2.0000,1.0000,2.00000,1.00000,6.00000,30.0000,18.0000,45.0000,3.0000,96.0000,1030.00,1250.000,873.000,85.00,3238.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,230.000,NaN,NaN,NaN,NaN,NaN,2.520000,NaN,NaN,NaN,NaN,NaN,NaN,480.000,NaN,NaN,24.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,2023-05-28,NaN,84.0000,NaN,NaN,84.0000,NaN,150.000,NaN,NaN,150.0000,NaN,690.000,NaN,NaN,690.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.50000,NaN,NaN,4.50000,NaN,13.5000,NaN,NaN,13.50000,NaN,NaN,NaN,NaN,NaN,NaN,45.0000,NaN,NaN,45.0000,NaN,2190.000,NaN,NaN,2190.000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.640000,NaN,NaN,NaN,NaN,NaN,NaN,960.000,NaN,NaN,12.00000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2023-06-11,NaN,83.0000,15.9243,87.2550,186.1793,NaN,NaN,95.7960,103.95,199.7460,NaN,520.000,382.410,669.037,1571.447,NaN,NaN,5.14589,8.51426,13.66015,NaN,NaN,6.74558,3.31785,10.06343,NaN,10.00000,8.77965,16.7914,35.57105,NaN,19.0000,23.70650,31.2375,73.94400,NaN,5.0000,1.96000,3.15375,10.11375,NaN,7.0000,27.5041,11.2688,45.7729,NaN,50.000,333.310,504.00,887.310,NaN,NaN,NaN,NaN,NaN,NaN,NaN,339.864,NaN,NaN,NaN,NaN,NaN,1.596807,NaN,NaN,NaN,NaN,NaN,NaN,1001.307,NaN,NaN,101.11086,NaN,NaN,NaN,NaN,36.501500,NaN,NaN,NaN,NaN
17,2023-06-12,NaN,18.7500,36.2500,135.0000,190.0000,NaN,12.500,101.3490,20.00,133.8490,NaN,125.000,371.223,885.000,1381.223,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.93750,1.84272,11.7500,14.53022,NaN,2.8125,5.26284,28.5000,36.57534,NaN,2.5000,5.12500,11.00000,18.62500,NaN,6.2500,44.8825,26.5000,77.6325,NaN,343.750,156.974,1610.00,2110.724,NaN,NaN,NaN,NaN,NaN,NaN,NaN,278.750,NaN,NaN,NaN,NaN,NaN,3.870000,NaN,NaN,NaN,NaN,NaN,NaN,1101.460,NaN,NaN,55.37500,NaN,NaN,NaN,NaN,26.250000,NaN,NaN,NaN,NaN
18,2023-06-13,NaN,8.6612,30.3314,131.7200,170.7126,NaN,334.880,294.6990,78.00,707.5790,NaN,188.350,818.188,813.680,1820.218,NaN,3.95083,8.00000,1.32456,13.27539,NaN,1.82033,4.60000,1.78376,8.20409,NaN,4.54581,9.68544,13.3624,27.59365,NaN,11.2687,32.20400,24.5044,67.97710,NaN,0.4700,4.73306,2.12800,7.33106,NaN,12.1667,118.0980,3.0008,133.2655,NaN,260.320,704.363,281.52,1246.203,NaN,NaN,NaN,NaN,NaN,NaN,NaN,110.497,NaN,NaN,NaN,NaN,NaN,4.989721,NaN,NaN,NaN,NaN,NaN,NaN,1920.210,NaN,NaN,107.67760,NaN,NaN,NaN,NaN,18.491601,NaN,NaN,NaN,NaN
19,2023-06-14,37.9512,13.0000,50.5000,74.0000,175.4512,NaN,50.000,NaN,65.00,115.0000,268.02,340.000,631.000,640.000,1879.020,0.03776,NaN,NaN,NaN,0.03776,0.08614,NaN,NaN,NaN,0.08614,0.13216,2.00000,2.00000,21.5000,25.63216,0.3894,6.0000,25.00000,34.0000,65.38940,3.0680,7.0000,6.00000,4.00000,20.06800,1.2862,62.0000,64.0000,10.0000,137.2862,106.18,770.000,687.000,195.00,1758.180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1325.900,NaN,NaN,NaN,NaN,NaN,12.906799,NaN,NaN,NaN,NaN,NaN,NaN,1502.440,NaN,NaN,95.43140,NaN,NaN,NaN,NaN,55.266000,NaN,NaN,NaN,NaN
20,2023-07-10,NaN,10.0000,45.2859,NaN,55.2859,NaN,50.000,165.9420,NaN,215.9420,NaN,320.000,972.810,NaN,1292.810,NaN,NaN,24.80720,NaN,24.80720,NaN,NaN,15.35570,NaN,15.35570,NaN,2.00000,9.85485,NaN,11.85485,NaN,6.0000,63.50100,NaN,69.50100,NaN,6.0000,0.63200,NaN,6.63200,NaN,60.0000,49.9952,NaN,109.9952,NaN,720.000,444.880,NaN,1164.880,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1062.478,NaN,NaN,NaN,NaN,NaN,11.847660,NaN,NaN,NaN,NaN,NaN,NaN,2090.290,NaN,NaN,2.23982,NaN,NaN,NaN,NaN,30.000000,NaN,NaN,NaN,NaN
21,2023-09-25,NaN,6.0000,34.3364,NaN,40.3364,NaN,67.500,21.0000,NaN,88.5000,NaN,195.000,321.773,NaN,516.773,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.75000,1.33410,NaN,2.08410,NaN,7.0000,11.17280,NaN,18.17280,NaN,1.0000,7.33638,NaN,8.33638,NaN,26.0000,21.5773,NaN,47.5773,NaN,355.000,556.682,NaN,911.682,NaN,NaN,NaN,NaN,NaN,NaN,NaN,366.819,NaN,NaN,NaN,NaN,NaN,5.282190,NaN,NaN,NaN,NaN,NaN,NaN,255.000,NaN,NaN,25.00000,NaN,NaN,NaN,NaN,18.600000,NaN,NaN,NaN,NaN
22,2023-09-27,21.0000,97.6362,NaN,NaN,118.6362,NaN,184.217,NaN,NaN,184.2170,160.00,895.101,NaN,NaN,1055.101,NaN,1.41806,NaN,NaN,1.41806,NaN,3.95554,NaN,NaN,3.95554,3.00000,6.57676,NaN,NaN,9.57676,8.0000,19.3283,NaN,NaN,27.32830,1.0000,6.4680,NaN,NaN,7.46800,3.0000,84.4109,NaN,NaN,87.4109,150.00,2600.540,NaN,NaN,2750.540,NaN,NaN,NaN,NaN,NaN,NaN,NaN,80.100,NaN,NaN,NaN,NaN,NaN,1.611799,NaN,NaN,NaN,NaN,NaN,NaN,642.040,NaN,NaN,28.93490,NaN,NaN,NaN,NaN,10.266000,NaN,NaN,NaN,NaN
23,2023-09-26,NaN,33.9512,46.8840,21.0000,101.8352,NaN,70.000,94.2168,NaN,164.2168,NaN,275.020,449.681,160.000,884.701,NaN,0.03776,1.38030,NaN,1.41806,NaN,0.08614,3.86940,NaN,3.95554,NaN,1.63216,1.04460,3.0000,5.67676,NaN,2.8894,9.93792,8.0000,20.82732,NaN,3.0680,1.98000,1.00000,6.04800,NaN,31.2862,42.3277,3.0000,76.6139,NaN,101.180,941.264,150.00,1192.444,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91.800,NaN,NaN,NaN,NaN,NaN,4.410799,NaN,NaN,NaN,NaN,NaN,NaN,702.340,NaN,NaN,26.13490,NaN,NaN,NaN,NaN,10.266000,NaN,NaN,NaN,NaN
24,2023-05-05,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [31]:
w = Workout(**data['Workout'][-6])
w.get_statistic('HKQuantityTypeIdentifierActiveEnergyBurned')
w.__dict__

{'name': 'HKQuantityTypeIdentifierDistanceWalkingRunning', 'type': 'SUM', 'start_date': datetime.datetime(2024, 7, 17, 12, 37, 53, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))), 'end_date': datetime.datetime(2024, 7, 17, 13, 30, 59, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))), 'sum': 3.4201, 'average': None, 'min': None, 'max': None, 'unit': None}
{'name': 'HKQuantityTypeIdentifierActiveEnergyBurned', 'type': 'SUM', 'start_date': datetime.datetime(2024, 7, 17, 12, 37, 53, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))), 'end_date': datetime.datetime(2024, 7, 17, 13, 30, 59, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))), 'sum': 436.867, 'average': None, 'min': None, 'max': None, 'unit': None}
{'name': 'HKQuantityTypeIdentifierActiveEnergyBurned', 'type': 'SUM', 'start_date': datetime.datetime(2024, 7, 17, 12, 37, 53, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))), 'end_date': datetime.datetime(2024, 7, 17, 13, 30, 59, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))), 'sum': 436.867, 'average': None, 'min': None, 'max': None, 'unit': None}

{'name': 'HKWorkoutActivityTypeRunning',
 'source_id': 'CHARLIESAPPLEWATCH9_6_3',
 'created_at': datetime.datetime(2024, 7, 17, 13, 31, 7, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
 'start': datetime.datetime(2024, 7, 17, 12, 37, 53, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
 'start_date_str': '2024-07-17',
 'end': datetime.datetime(2024, 7, 17, 13, 30, 59, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
 'unit': None,
 'value': None,
 'heartrate_variability': [],
 'metadata': [{'key': 'HKIndoorWorkout', 'value': '0'},
  {'key': 'HKElevationAscended', 'value': '207 cm'},
  {'key': 'HKWeatherHumidity', 'value': '6600 %'},
  {'key': 'HKTimeZone', 'value': 'America/New_York'},
  {'key': 'HKWeatherTemperature', 'value': '89.456 degF'},
  {'key': 'HKAverageMETs', 'value': '6.99379 kcal/hrÃ‚Â·kg'},
  {'key': 'HKIndoorWorkout', 'value': '0'},
  {'key': 'HKElevationAscended', 'value': '207 cm'},
  {'key': 'HKWeatherHumidity', 'value': '6600 %'},
  {'key': 'HKTimeZone', 'value': 'America/New_York'},
  {'key': 'HKWeatherTemperature', 'value': '89.456 degF'},
  {'key': 'HKAverageMETs', 'value': '6.99379 kcal/hrÃ‚Â·kg'}],
 'duration': 53.09000549912453,
 'duration_unit': 'min',
 'distance': 3.4201,
 'distance_unit': 'mi',
 'energy_burned': 436.867,
 'energy_burned_unit': 'Cal',
 'flights_climbed': None,
 'swimming_strokes': None,
 'events': [{'name': 'HKWorkoutEventTypeSegment',
   'date': datetime.datetime(2024, 7, 17, 12, 37, 53, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
   'duration': 8.986495371659597,
   'duration_unit': 'min'},
  {'name': 'HKWorkoutEventTypeSegment',
   'date': datetime.datetime(2024, 7, 17, 12, 37, 53, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
   'duration': 15.75660931865374,
   'duration_unit': 'min'},
  {'name': 'HKWorkoutEventTypeMotionResumed',
   'date': datetime.datetime(2024, 7, 17, 12, 37, 53, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
   'duration': None,
   'duration_unit': None},
  {'name': 'HKWorkoutEventTypeMotionPaused',
   'date': datetime.datetime(2024, 7, 17, 12, 44, 8, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
   'duration': None,
   'duration_unit': None},
  {'name': 'HKWorkoutEventTypeMotionResumed',
   'date': datetime.datetime(2024, 7, 17, 12, 44, 14, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
   'duration': None,
   'duration_unit': None},
  {'name': 'HKWorkoutEventTypeSegment',
   'date': datetime.datetime(2024, 7, 17, 12, 46, 52, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
   'duration': 10.2683307826519,
   'duration_unit': 'min'},
  {'name': 'HKWorkoutEventTypeMotionPaused',
   'date': datetime.datetime(2024, 7, 17, 12, 50, 29, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
   'duration': None,
   'duration_unit': None},
  {'name': 'HKWorkoutEventTypeMotionResumed',
   'date': datetime.datetime(2024, 7, 17, 12, 51, 2, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
   'duration': None,
   'duration_unit': None},
  {'name': 'HKWorkoutEventTypeSegment',
   'date': datetime.datetime(2024, 7, 17, 12, 53, 39, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
   'duration': 15.10292791922887,
   'duration_unit': 'min'},
  {'name': 'HKWorkoutEventTypeSegment',
   'date': datetime.datetime(2024, 7, 17, 12, 57, 9, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
   'duration': 9.467355855305989,
   'duration_unit': 'min'},
  {'name': 'HKWorkoutEventTypeSegment',
   'date': datetime.datetime(2024, 7, 17, 13, 6, 37, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
   'duration': 9.796632570028304,
   'duration_unit': 'min'},
  {'name': 'HKWorkoutEventTypeSegment',
   'date': datetime.datetime(2024, 7, 17, 13, 8, 45, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
   'duration': 15.62858588695526,
   'duration_unit': 'min'},
  {'name': 'HKWorkoutEventTypeSegment',
   'date': datetime.datetime(2024, 7, 17, 13, 16, 24, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
   'duration': 9.787862988313039,
   'duration_unit': 'min'},
  {'name': 'HKWorkoutEventTypeSegment',
   'date': datetime.datetime(2024, 7, 17, 13, 24, 23, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
   'duration': 6.55049283305804,
   'duration_unit': 'min'},
  {'name': 'HKWorkoutEventTypeSegment',
   'date': datetime.datetime(2024, 7, 17, 13, 26, 12, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
   'duration': 4.731938389937083,
   'duration_unit': 'min'}],
 'statistics': [{'name': 'HKQuantityTypeIdentifierStepCount',
   'type': 'SUM',
   'start_date': datetime.datetime(2024, 7, 17, 12, 37, 53, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
   'end_date': datetime.datetime(2024, 7, 17, 13, 30, 59, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
   'sum': 6906.0,
   'average': None,
   'min': None,
   'max': None,
   'unit': None},
  {'name': 'HKQuantityTypeIdentifierRunningGroundContactTime',
   'type': 'AVG',
   'start_date': datetime.datetime(2024, 7, 17, 12, 37, 53, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
   'end_date': datetime.datetime(2024, 7, 17, 13, 30, 59, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
   'sum': None,
   'average': 312.776,
   'min': 218.0,
   'max': 354.0,
   'unit': None},
  {'name': 'HKQuantityTypeIdentifierRunningPower',
   'type': 'AVG',
   'start_date': datetime.datetime(2024, 7, 17, 12, 37, 53, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
   'end_date': datetime.datetime(2024, 7, 17, 13, 30, 59, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
   'sum': None,
   'average': 148.396,
   'min': 61.0,
   'max': 342.0,
   'unit': None},
  {'name': 'HKQuantityTypeIdentifierActiveEnergyBurned',
   'type': 'SUM',
   'start_date': datetime.datetime(2024, 7, 17, 12, 37, 53, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
   'end_date': datetime.datetime(2024, 7, 17, 13, 30, 59, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
   'sum': 436.867,
   'average': None,
   'min': None,
   'max': None,
   'unit': None},
  {'name': 'HKQuantityTypeIdentifierBasalEnergyBurned',
   'type': 'SUM',
   'start_date': datetime.datetime(2024, 7, 17, 12, 37, 53, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
   'end_date': datetime.datetime(2024, 7, 17, 13, 30, 59, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
   'sum': 98.576,
   'average': None,
   'min': None,
   'max': None,
   'unit': None},
  {'name': 'HKQuantityTypeIdentifierRunningVerticalOscillation',
   'type': 'AVG',
   'start_date': datetime.datetime(2024, 7, 17, 12, 37, 53, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
   'end_date': datetime.datetime(2024, 7, 17, 13, 30, 59, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
   'sum': None,
   'average': 10.7184,
   'min': 9.7,
   'max': 12.0,
   'unit': None},
  {'name': 'HKQuantityTypeIdentifierRunningSpeed',
   'type': 'AVG',
   'start_date': datetime.datetime(2024, 7, 17, 12, 37, 53, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
   'end_date': datetime.datetime(2024, 7, 17, 13, 30, 59, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
   'sum': None,
   'average': 3.90708,
   'min': 0.562266,
   'max': 8.61155,
   'unit': None},
  {'name': 'HKQuantityTypeIdentifierRunningStrideLength',
   'type': 'AVG',
   'start_date': datetime.datetime(2024, 7, 17, 12, 37, 53, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
   'end_date': datetime.datetime(2024, 7, 17, 13, 30, 59, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
   'sum': None,
   'average': 0.751387,
   'min': 0.54,
   'max': 1.09,
   'unit': None},
  {'name': 'HKQuantityTypeIdentifierDistanceWalkingRunning',
   'type': 'SUM',
   'start_date': datetime.datetime(2024, 7, 17, 12, 37, 53, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
   'end_date': datetime.datetime(2024, 7, 17, 13, 30, 59, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
   'sum': 3.4201,
   'average': None,
   'min': None,
   'max': None,
   'unit': None},
  {'name': 'HKQuantityTypeIdentifierHeartRate',
   'type': 'AVG',
   'start_date': datetime.datetime(2024, 7, 17, 12, 37, 53, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
   'end_date': datetime.datetime(2024, 7, 17, 13, 30, 59, tzinfo=datetime.timezone(datetime.timedelta(days=-1, seconds=72000))),
   'sum': None,
   'average': 148.971,
   'min': 122.0,
   'max': 179.0,
   'unit': None}],
 'route': {'file_path': '/workout-routes/route_2024-07-17_1.30pm.gpx',
  'file_name': 'route_2024-07-17_1.30pm.gpx',
  'metadata': [{'key': 'HKMetadataKeySyncVersion', 'value': '2'},
   {'key': 'HKMetadataKeySyncIdentifier',
    'value': 'D09544F2-5EE4-4295-8C81-EC0F8147B13A'}]}}

In [12]:
file = ROOT_DIR + 'export.xml'

data = HealthData.read(
    file,
    include_me=True,
    include_activity_summaries=True,
    include_correlations=False,
    include_records=True,
    include_workouts=True,
)

print(data.me.biological_sex)
print(f"{len(data.activity_summaries)} activity records")
print(f"{len(data.correlations)} correlations")
print(f"{len(data.records)} records")
print(f"{len(data.workouts)} workouts")

HKBiologicalSexMale
539 activity records
0 correlations
1732268 records
545 workouts

In [64]:
day = datetime.datetime.date(datetime.datetime(2024,7,17))

config = data.me.__dict__
day_activity_summary = [summary for summary in data.activity_summaries if summary.date.date() == day]
day_workouts = [workout for workout in data.workouts if workout.start.date() == day]
day_records = [record for record in data.records if record.start.date() == day]

In [65]:
config

{'date_of_birth': datetime.datetime(1998, 4, 11, 0, 0),
 'biological_sex': 'HKBiologicalSexMale',
 'blood_type': 'HKBloodTypeNotSet',
 'skin_type': 'HKFitzpatrickSkinTypeNotSet',
 'wheelchair_use': None}

In [58]:
day_activity_summary[0].__dict__

{'date': datetime.datetime(2024, 7, 17, 0, 0),
 'active_energy_burned': 3227.75,
 'active_energy_burned_goal': 500.0,
 'active_energy_burned_unit': 'Cal',
 'exercise_time': 240.0,
 'exercise_time_goal': 45.0,
 'stand_hours': 13.0,
 'stand_hours_goal': 8.0}

In [62]:
workout = day_workouts[1].__dict__

workout_start_time = workout['start']
workout_end_time = workout['end']
print(workout)
workout_records = [record for record in data.records if record.start >= workout_start_time and record.end <= workout_end_time]
workout_records_df = pd.DataFrame([record.__dict__ for record in workout_records])
workout_records_df

{'name': 'HKWorkoutActivityTypeRunning', 'source': 'CharlieÃ¢â‚¬â„¢s AppleÃ‚\xa0Watch', 'created_at': datetime.datetime(2024, 7, 17, 13, 31, 7, tzinfo=tzoffset(None, -14400)), 'start': datetime.datetime(2024, 7, 17, 12, 37, 53, tzinfo=tzoffset(None, -14400)), 'end': datetime.datetime(2024, 7, 17, 13, 30, 59, tzinfo=tzoffset(None, -14400)), 'metadata': [HKIndoorWorkout: 0, HKElevationAscended: 207 cm, HKWeatherHumidity: 6600 %, HKTimeZone: America/New_York, HKWeatherTemperature: 89.456 degF, HKAverageMETs: 6.99379 kcal/hrÃ‚Â·kg, HKIndoorWorkout: 0, HKElevationAscended: 207 cm, HKWeatherHumidity: 6600 %, HKTimeZone: America/New_York, HKWeatherTemperature: 89.456 degF, HKAverageMETs: 6.99379 kcal/hrÃ‚Â·kg], 'duration': 53.09000549912453, 'duration_unit': 'min', 'distance': 0.0, 'distance_unit': None, 'energy_burned': 0.0, 'energy_burned_unit': None, 'flights_climbed': 0.0, 'swimming_strokes': 0.0}

,name,source,created_at,start,end,metadata,unit,value,heart_rate
0,HKQuantityTypeIdentifierHeartRate,CharlieÃ¢â‚¬â„¢s AppleÃ‚Â Watch,2024-07-17 12:37:55-04:00,2024-07-17 12:37:53-04:00,2024-07-17 12:37:53-04:00,[HKMetadataKeyHeartRateMotionContext: 2],count/min,132.00000,[]
1,HKQuantityTypeIdentifierHeartRate,CharlieÃ¢â‚¬â„¢s AppleÃ‚Â Watch,2024-07-17 12:38:00-04:00,2024-07-17 12:37:55-04:00,2024-07-17 12:37:55-04:00,[HKMetadataKeyHeartRateMotionContext: 2],count/min,132.00000,[]
2,HKQuantityTypeIdentifierHeartRate,CharlieÃ¢â‚¬â„¢s AppleÃ‚Â Watch,2024-07-17 12:38:05-04:00,2024-07-17 12:38:01-04:00,2024-07-17 12:38:01-04:00,[HKMetadataKeyHeartRateMotionContext: 2],count/min,131.00000,[]
3,HKQuantityTypeIdentifierHeartRate,CharlieÃ¢â‚¬â„¢s AppleÃ‚Â Watch,2024-07-17 12:38:10-04:00,2024-07-17 12:38:04-04:00,2024-07-17 12:38:04-04:00,[HKMetadataKeyHeartRateMotionContext: 2],count/min,129.00000,[]
4,HKQuantityTypeIdentifierHeartRate,CharlieÃ¢â‚¬â„¢s AppleÃ‚Â Watch,2024-07-17 12:38:15-04:00,2024-07-17 12:38:10-04:00,2024-07-17 12:38:10-04:00,[HKMetadataKeyHeartRateMotionContext: 2],count/min,122.00000,[]
...,...,...,...,...,...,...,...,...,...
9052,HKQuantityTypeIdentifierRunningSpeed,CharlieÃ¢â‚¬â„¢s AppleÃ‚Â Watch,2024-07-17 13:30:48-04:00,2024-07-17 13:30:45-04:00,2024-07-17 13:30:45-04:00,[],mi/hr,6.87578,[]
9053,HKQuantityTypeIdentifierRunningSpeed,CharlieÃ¢â‚¬â„¢s AppleÃ‚Â Watch,2024-07-17 13:30:51-04:00,2024-07-17 13:30:48-04:00,2024-07-17 13:30:48-04:00,[],mi/hr,6.91889,[]
9054,HKQuantityTypeIdentifierRunningSpeed,CharlieÃ¢â‚¬â„¢s AppleÃ‚Â Watch,2024-07-17 13:30:52-04:00,2024-07-17 13:30:50-04:00,2024-07-17 13:30:50-04:00,[],mi/hr,7.05495,[]
9055,HKQuantityTypeIdentifierRunningSpeed,CharlieÃ¢â‚¬â„¢s AppleÃ‚Â Watch,2024-07-17 13:30:56-04:00,2024-07-17 13:30:53-04:00,2024-07-17 13:30:53-04:00,[],mi/hr,7.12622,[]
9056,HKQuantityTypeIdentifierRunningSpeed,CharlieÃ¢â‚¬â„¢s AppleÃ‚Â Watch,2024-07-17 13:30:58-04:00,2024-07-17 13:30:56-04:00,2024-07-17 13:30:56-04:00,[],mi/hr,6.98316,[]

In [63]:
workout_records_df.name.value_counts()

name
HKQuantityTypeIdentifierBasalEnergyBurned                 1249
HKQuantityTypeIdentifierActiveEnergyBurned                1249
HKQuantityTypeIdentifierDistanceWalkingRunning            1234
HKQuantityTypeIdentifierStepCount                         1233
HKQuantityTypeIdentifierRunningSpeed                      1229
HKQuantityTypeIdentifierRunningPower                      1227
HKQuantityTypeIdentifierHeartRate                          637
HKQuantityTypeIdentifierRunningStrideLength                310
HKQuantityTypeIdentifierRunningVerticalOscillation         305
HKQuantityTypeIdentifierRunningGroundContactTime           295
HKQuantityTypeIdentifierAppleExerciseTime                   52
HKQuantityTypeIdentifierAppleStandTime                      10
HKQuantityTypeIdentifierWalkingSpeed                        10
HKQuantityTypeIdentifierWalkingStepLength                   10
HKQuantityTypeIdentifierWalkingDoubleSupportPercentage       5
HKQuantityTypeIdentifierEnvironmentalAudioExposure           1
HKQuantityTypeIdentifierVO2Max                               1
Name: count, dtype: int64

## 3. Transform/Preprocess Data

In [32]:
import datetime 

## I want to create a config file and a data file that is either a parquet or a csv of all of the data that I have.

class UserConfig:
    def __init__(self, config):
        self.date_of_birth = config['date_of_birth']
        self.biological_sex = config['biological_sex']
        self.blood_type = config['blood_type']
        self.skin_type = config['skin_type']
        self.wheelchair_use = config['wheelchair_use']

    def __repr__(self):
        return f"UserConfig(date_of_birth={self.date_of_birth}, biological_sex={self.biological_sex}, blood_type={self.blood_type}, skin_type={self.skin_type}, wheelchair_use={self.wheelchair_use})"

In [68]:
day_records[-20].__dict__

{'name': 'HKCategoryTypeIdentifierAppleStandHour',
 'source': 'CharlieÃ¢â‚¬â„¢s AppleÃ‚\xa0Watch',
 'created_at': datetime.datetime(2024, 7, 17, 13, 0, 32, tzinfo=tzoffset(None, -14400)),
 'start': datetime.datetime(2024, 7, 17, 13, 0, tzinfo=tzoffset(None, -14400)),
 'end': datetime.datetime(2024, 7, 17, 14, 0, tzinfo=tzoffset(None, -14400)),
 'metadata': [],
 'unit': None,
 'value': 0,
 'heart_rate': []}

## 4. Load data (as parquet)

## 5. Build weekly calendar workout